---
import Base from "../layouts/Base.astro";
import Link from "../components/Link.astro";
---

<Base title="404">
  <article>
    <h1>404</h1>
    <hr />
    <p>Page not found. <Link href="/">Go to posts</Link></p>
  </article>
</Base>
