---
import Base from "../layouts/Base.astro";
import { getEntry, render } from "astro:content";

const entry = (await getEntry("about", "about"))!;
const { Content } = await render(entry);
---

<Base title={entry.data.title}>
  <article>
    <h1>{entry.data.title}</h1>
    <hr />
    <Content />
  </article>
</Base>
